#banner {
        background: #94b6e3;
        color: #BBB6B6;
        font-weight: bold;
        font-family: "Zombie Dust", Helvetica, Arial, sans-serif;
        font-size: 1em;
        text-align: left;
}
body {
     background-color: whitesmoke;
     font: antialiased;
     color: black;
}
main {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-align: left;
     text-indent: 1em;
     color: black;
}
nav, 
footer,
li,
a {
  text-align: center;
  text-decoration: none;
  color: black;
  list-style: none;
}