#banner {
        background: silver;
        color: black;
        font-weight: bold;
        font-family: Helvetica, Arial, sans-serif;
}

header, 
nav, 
footer {
   text-align: center;
   color: black;
}