#menu {
      background: antiquewhite;
      display: block;
      margin: 50px auto 50px;
      max-width: 365px;
      padding: 10px;
      box-sizing: border-box;
      border: solid;
      border-color: antiquewhite;
      border-radius: 30px;
}

#menu ul,
#menu h1 {
         display: block;
         padding: 5px;
         margin: 5px;
}