.hidden {
        position: absolute;
        height: 1px;
        width: 1px;
        overflow: hidden;
}

#menu ul {
         display: inline-flex;
         border: 0;
         background: transparent;
}

#menu {
      background: antiquewhite;
      display: block;
      margin: 50px auto 50px;
      padding: 10px;
      box-sizing: border-box;
      border: solid;
      border-color: antiquewhite;
      position: absolute;
      top: 161px;
      right: 50%;
      margin-right: -30em;
      margin-bottom: 1em;
}

#menu ul,
#menu h1 {
         padding: 5px;
         margin: 5px;
}

#menu li {
         width: 6em;
}